li {
  display: inline;
}

a {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.comp1 {
  text-align: right;
  padding-right: 5rem;
  background-color: grey;
}
.comp2 {
  padding-left: 5rem;
  color: white;
  background-color: darkblue;
}

.comp3 {
  padding-left: 4rem;
  background-color: grey;
}
